@page "/users"

<h3>User/Staff</h3>

<EditForm Model="@users">
    <div>
        <!-- ... -->
        <label class="form-label">UserName</label>
        <input type="text" class="form" id="coffee" @bind="users.Username" />
        <br><br>

        <label class="form-label">Password</label>
        <input type="text" class="form" id="price" @bind="users.PasswordHash" />
        <!-- ... -->
        <button class="btn btn-primary" @onclick="Add">Create</button>
    </div>
</EditForm>
<br>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>UserName</td>
            <td>CreatedAt</td>
            <td>CreatedBy</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in user)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Username</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreatedAt</td>
                <td>@item.Role</td>
                @* <td><button class="btn btn-danger" @onclick="() => Delete(item.Id)">Delete</button></td> *@
            </tr>
        }
    </tbody>
</table>



@code {
    private List<CoffeeShop.Models.Users> user { get; set; }

    private CoffeeShop.Models.Users users = new();

    protected override void OnInitialized()
    {
        user = UserService.GetAll();
    }

    private void Add()
    {
        if (string.IsNullOrWhiteSpace(users.Username) || string.IsNullOrWhiteSpace(users.PasswordHash))
        {
            return;
        }
        users.Id = new();
        UserService.CreateStaff(users.Id, users.Username, users.PasswordHash);

        users = new();
        user = UserService.GetAll();

    }

    private void Delete(int Id)
    {
        // CoffeeService.DeleteCoffee(Id);
        // coffee = CoffeeService.GetAll();
    }
}
